.light {
    background-color: #eee;
    background-image: none;
}

.light ::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

/* button */
.light ::-webkit-scrollbar-button {
    background: rgba(203, 227, 255, 0.50);
}

/* Handle */
.light ::-webkit-scrollbar-thumb {
    background: #5AA6FF;
}

/* Handle on hover */
.light ::-webkit-scrollbar-thumb:hover {
    background: rgba(203, 227, 255, 0.50);
}

/* Track */
.light ::-webkit-scrollbar-track {
    background: rgba(203, 227, 255, 0.50);
}

/* The track NOT covered by the handle.
::-webkit-scrollbar-track-piece {
    background: #000; 
}
/* Corner */
.light ::-webkit-scrollbar-corner {
    background: #999;
}

/* Resizer */
.light ::-webkit-resizer {
    background: rgba(203, 227, 255, 0.50);;
}

.light .container,
.light .body {
    background-color: #fff;
}

.light .body::after {
    background-image: none;
}

.light .menu-item {
    background: #FFF;
    box-shadow: 0px 1px 4px 0px rgba(214, 214, 214, 0.40);
}

.light .menu-item.active {
    border-color: #5AA6FF;
}

.light .menu-item.active .menu-item__icon {
    background-color: #F2F8FF;
}

.light .menu-item__title {
    color: #5AA6FF;
}

.light .content-header {
    color: #5AA6FF;
}

.light .list-item {
    background: #FFF;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.11);
    border: none;
}

.light .social-item__username,
.light .project-item__desc {
    color: #969696;
}

.light .list-item__btn {
    color: #5AA6FF;
    background: rgba(203, 227, 255, 0.50);
}

.light .bank-item__bank,
.light .social-item__network,
.light .project-item__name {
    background: linear-gradient(115deg, #0A77F2 0%, #4B9FED 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}